 {% extends 'base.html' %}
 {% load static %}
{% block content %}
 <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">
      <div class="container">

        <div class="section-title">
          <h2 id="">Who we are</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             A-men tech is a technology firm whose main goal is to bring balance between tech and art.
            </p>
            <ul>
              <li><i class="ri-check-line"></i> Making the knowledge of  website technology open to everyone</li>
              <li><i class="ri-check-line"></i> Making Data analysis technology available to everyone</li>
              <li><i class="ri-check-line"></i> Disbursing all necessary information about technology to the populace </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
             To maintain a unique standard and harnessing balance between Tech and Art
            </p>
           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2,000</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Our Values Section ======= -->
    <section id="our-values" class="our-values">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style ='background-image: url("static/img/our-values-1.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text">Our mission is simple: making technology an asset for your business not a problem. 
                 We strive to make technology integrate seamlessly with your business so your
                  business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in
                   hand with you to support your growth.</p>
                <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("static/img/our-values-2.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">To create a better everyday life by meeting your need with tech and art..</p>
                <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>

          </div>


        </div>
    </section><!-- End Our Values Section -->



    <!-- ======= Services Section ======= -->
    <section id="whatwedo" class="services" >
      <div class="container">

        <div class="section-title">
          <h2>What we do</h2>
          {% comment %} <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p> {% endcomment %}
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Web design / Development</a></h4>
              <p class="description">For a full, responsive and sustainable website, kindly contact us </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="las la-mobile" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href=""> Mobile Application</a></h4>
              <p class="description">For any of your mobile application need, which include building, arrangements and activeness,
               kindly contact us </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="las la-graduation-cap" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">software academy</a></h4>
              <p class="description">We have suitable and pocket friendly price for any one who is interested to be a tech pro</p>
            </div>
          </div>

        </div>
        <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box">
            <div class="icon"><i class="las la-database" style="color: blue;"></i></div>
            <h4 class="title"><a href="">Data science / Analysis</a></h4>
            <p class="description">For all your need for a data analyst , kindly contact us </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box">
            <div class="icon"><i class="las la-directions" style="color: green;"></i></div>
            <h4 class="title"><a href="">Digital Marketing</a></h4>
            <p class="description">We are certified marketer with full experience of how we can get you and your firm enough audience.
             kindly contact us for every of your digital marketing needs </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box">
            <div class="icon"><i class="las la-microphone" style="color: brown;"></i></div>
            <h4 class="title"><a href=""> Entertainment</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat tarad limino ata</p>
          </div>
        </div>
      </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Let give you the Technology service you can ever imagine,call us to action.</p>
          <a class="cta-btn" href="https://api.whatsapp.com/send?phone=+2348158188310">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Team Section ======= -->
    </section><!-- End Team Section -->
    <section id="" class="services" >
      <div class="container">

        <div class="section-title">
          <h2>Team Members</h2>
         
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <h4 class="member-info"><a href="">Fikayo peter</a></h4>
              <h4 class="descriptio">Wed developer</h4>
              <div class="social px-5">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <h4 class="member-info"><a href="">Feranmi Micheal</a></h4>
              <h4 class="descriptio">Data science & Analysist</h4>
              <div class="social px-5">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <h4 class="member-info"><a href="">Adebayo phillip</a></h4>
              <h4 class="descriptio">Digital marketer</h4>
              <div class="social px-5">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
       

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>we are readily availabe to serve you to the peak of your statisfaction</p>
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
           <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>Amentechnology@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+2348158188310</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock %}